body {
    background-color: rgba(242, 181, 118, 0.36);
    font-family: Gill Sans, sans-serif
}

h1 {
    font-size: 50px;
    margin: 30px auto;
    color: rgba(129, 65, 0, 0.8);
    -webkit-text-stroke: 0.5px black;
    font-style: oblique;
    text-align: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(129, 65, 0, 0.8);
    box-shadow: 6px 10px rgba(130, 65, 0, 0.4);
    height: 500px;
    width: 500px;
    margin: auto;
}

.btn {
    display: flex;
    width: 500px;
    margin: 20px auto;
    justify-content: space-between;
}

.middle {
    width: 125px;
    margin-top: 5px;
    text-align: center;
}

.middle div {
    color: rgba(129, 65, 0, 0.8);
    font-weight: bold;
    font-size: 20px
}

.slider {
    -webkit-appearance: none;
    margin-bottom: 15px;
    background-color: rgba(129, 65, 0, 0.8);
    outline: none;
    height: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background: white;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid rgba(129, 65, 0, 0.8);
}

button {
    width: 75px;
    height: 75px;
    border-radius: 70%;
    transition: rotate 1.2s;
    border: 2px solid rgba(129, 65, 0, 0.8);
    color: rgba(129, 65, 0, 0.8);
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.selected {
    background-color: rgba(129, 65, 0, 0.8);
    color: white;
    border-color: white;
}

#original:hover, #rainbow:hover {
    rotate: 360deg;
}

#drag:hover, #hover:hover {
    rotate: -360deg;
}

#original, #drag {
    margin-right: 12px;
}

.row {
    display: flex;
    flex:auto;
}

.row div {
    flex:auto
}

.whiteout {
    background-color: white;
}

.hover1 {
    background-color: rgba(80, 80, 80, 0.1);
}

.hover2 {
    background-color: rgba(80, 80, 80, 0.25);
}

.hover3 {
    background-color: rgba(80, 80, 80, 0.4);
}

.hover4 {
    background-color: rgba(80, 80, 80, 0.55);
}

.hover5 {
    background-color: rgba(80, 80, 80, 0.7)
}

.hover6 {
    background-color: rgba(80, 80, 80, 0.85)
}

.hover7 {
    background-color: rgba(80, 80, 80, 1)
}
